{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign Up" %}{% endblock title %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card shadow-lg">
                <div class="card-body p-4">
                    <h3 class="card-title text-center mb-4">{% trans "Sign Up" %}</h3>
                    <p class="text-center text-muted mb-4">
                        {% blocktrans %}Already have an account? Please <a class="link-primary fw-bold" href="{{ login_url }}">sign in</a>.{% endblocktrans %}
                    </p>
                    <form id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="d-grid">
                            <button class="btn btn-success btn-block mt-3" type="submit">{% trans "Sign Up" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
